body{
    margin-top: 2vh;
    margin-bottom: 5vh;
    margin-right: 5vw;
    margin-left: 5vw;
    width: 90vw;
    height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}