body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    margin: 0px;
}

p{
    color:White;
    background-color: red;
}

.bombi img{
    height: 300px;
    opacity: 0.8;
}

.inter img{
    height: 100px;
}

#sliders{
    display:none;
    position: fixed;
    right: 50px;
    bottom: 50px
}

input{
    width: 300px;
}
